Button {
    -fx-border-style: solid;
    -fx-background-color : #222222;
    -fx-text-fill: #F2F2F2;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;


}

Button:hover {
  -fx-opacity : 0.9;
  -fx-text-fill: #FF7324;
  -fx-effect: dropshadow(one-pass-box, rgba(255, 223, 163, 1), 8, .8, 0, 0);
}

@font-face {
    font-family: "Roboto";
    src: url("com/company/res/font/Roboto-Regular.ttf");
}

.root{
    -fx-font-size: 16;
    -fx-font-family: "Roboto";
}